# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


*.svn
*.swp

CVS/
FEDApps/
FEDCore/
FEDUtils/
OnlineDB/
PCSwitches/
PeripheralApps/.#Makefile
PeripheralApps/CVS/
PeripheralApps/include/CVS/
PeripheralApps/include/emu/CVS/
PeripheralApps/include/emu/pc/CVS/
PeripheralApps/rpm/
PeripheralApps/spec.template
PeripheralApps/src/CVS/
PeripheralApps/src/common/#CalibDAQ.cc.new#
PeripheralApps/src/common/#EmuPeripheralCrateConfig.cc#
PeripheralApps/src/common/CVS/
PeripheralApps/src/common/CalibDAQ.cc.new
PeripheralApps/src/common/CalibDAQ.cc.orig
PeripheralApps/src/common/CalibDAQ.cc.orig.~1~
PeripheralApps/src/common/CalibDAQ.cc.~1.4.~
PeripheralApps/src/common/CalibDAQ.cc.~1~
PeripheralApps/src/common/EmuPeripheralCrateBase.cc.~1.10.~
PeripheralApps/src/common/EmuPeripheralCrateBroadcast.cc.~1.55.~
PeripheralApps/src/common/EmuPeripheralCrateCommand.cc.~1.28.~
PeripheralApps/src/common/EmuPeripheralCrateConfig.cc.anp
PeripheralApps/src/common/EmuPeripheralCrateConfig.cc.~1.182.~
PeripheralApps/src/common/XMLParser.cc.~1.31.~
PeripheralApps/src/linux/
PeripheralApps/test/
PeripheralApps/xml/
PeripheralCore/CVS/
PeripheralCore/include/CVS/
PeripheralCore/include/emu/CVS/
PeripheralCore/include/emu/pc/#ALCTController.h#
PeripheralCore/include/emu/pc/CVS/
PeripheralCore/rpm/
PeripheralCore/spec.template
PeripheralCore/src/CVS/
PeripheralCore/src/common/CVS/
PeripheralCore/src/common/TMB.cc.orig
PeripheralCore/src/linux/
PeripheralXtop/
drivers/
Makefile
PeripheralApps/include/emu/pc/EmuPeripheralCrateConfig.h.orig
PeripheralApps/src/common/EmuPeripheralCrateConfig.cc.orig
PeripheralApps20140311.tar.gz
PeripheralCore/include/emu/pc/common.h.BACKUP.22086.h
PeripheralCore/include/emu/pc/common.h.BASE.22086.h
PeripheralCore/include/emu/pc/common.h.LOCAL.22086.h
PeripheralCore/include/emu/pc/common.h.REMOTE.22086.h
PeripheralCore20140311.tar.gz
_pid_2st_emu=

