# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


*.svn
*.swp

CVS/
FEDApps/
FEDCore/
FEDUtils/
OnlineDB/
PCSwitches/
PeripheralApps/.#Makefile
PeripheralApps/CVS/
PeripheralApps/include/CVS/
PeripheralApps/include/emu/CVS/
PeripheralApps/include/emu/pc/CVS/
PeripheralApps/rpm/
PeripheralApps/spec.template
PeripheralApps/src/CVS/
PeripheralApps/src/common/#CalibDAQ.cc.new#
PeripheralApps/src/common/#EmuPeripheralCrateConfig.cc#
PeripheralApps/src/common/CVS/
PeripheralApps/src/common/CalibDAQ.cc.new
PeripheralApps/src/common/CalibDAQ.cc.orig
PeripheralApps/src/common/CalibDAQ.cc.orig.~1~
PeripheralApps/src/common/CalibDAQ.cc.~1.4.~
PeripheralApps/src/common/CalibDAQ.cc.~1~
PeripheralApps/src/common/EmuPeripheralCrateBase.cc.~1.10.~
PeripheralApps/src/common/EmuPeripheralCrateBroadcast.cc.~1.55.~
PeripheralApps/src/common/EmuPeripheralCrateCommand.cc.~1.28.~
PeripheralApps/src/common/EmuPeripheralCrateConfig.cc.anp
PeripheralApps/src/common/EmuPeripheralCrateConfig.cc.~1.182.~
PeripheralApps/src/common/XMLParser.cc.~1.31.~
PeripheralApps/src/linux/
PeripheralApps/test/
PeripheralApps/xml/
PeripheralCore/CVS/
PeripheralCore/include/CVS/
PeripheralCore/include/emu/CVS/
PeripheralCore/include/emu/pc/#ALCTController.h#
PeripheralCore/include/emu/pc/CVS/
PeripheralCore/rpm/
PeripheralCore/spec.template
PeripheralCore/src/CVS/
PeripheralCore/src/common/CVS/
PeripheralCore/src/common/TMB.cc.orig
PeripheralCore/src/linux/
PeripheralXtop/
drivers/
Makefile
PeripheralApps/include/emu/pc/EmuPeripheralCrateConfig.h.orig
PeripheralApps/src/common/EmuPeripheralCrateConfig.cc.orig
PeripheralApps20140311.tar.gz
PeripheralCore/include/emu/pc/common.h.BACKUP.22086.h
PeripheralCore/include/emu/pc/common.h.BASE.22086.h
PeripheralCore/include/emu/pc/common.h.LOCAL.22086.h
PeripheralCore/include/emu/pc/common.h.REMOTE.22086.h
PeripheralCore20140311.tar.gz
_pid_2st_emu=
PeripheralApps/include/emu/pc/CalibDAQ.h
PeripheralApps/include/emu/pc/ChamberUtilities.h
PeripheralApps/include/emu/pc/CrateUtilities.h
PeripheralApps/include/emu/pc/EmuCompareMcsFiles.h
PeripheralApps/include/emu/pc/EmuController.h
PeripheralApps/include/emu/pc/EmuEndcapConfigWrapper.h
PeripheralApps/include/emu/pc/EmuPCrateConfigTStore.h
PeripheralApps/include/emu/pc/EmuPeripheralCrateBase.h
PeripheralApps/include/emu/pc/EmuPeripheralCrateBroadcast.h
PeripheralApps/include/emu/pc/EmuPeripheralCrateCommand.h
PeripheralApps/include/emu/pc/EmuPeripheralCrateConfig2.h
PeripheralApps/include/emu/pc/EmuPeripheralCrateManager.h
PeripheralApps/include/emu/pc/EmuPeripheralCrateMonitor.h
PeripheralApps/include/emu/pc/EmuPeripheralCrateService.h
PeripheralApps/include/emu/pc/EmuPeripheralCrateTimer.h
PeripheralApps/include/emu/pc/EmuTStore.h
PeripheralApps/include/emu/pc/XMLParser.h
PeripheralApps/src/common/AppsVersion.cc
PeripheralApps/src/common/CalibDAQ.cc
PeripheralApps/src/common/CrateUtilities.cc
PeripheralApps/src/common/EmuCompareMcsFiles.cc
PeripheralApps/src/common/EmuController.cc
PeripheralApps/src/common/EmuEndcapConfigWrapper.cc
PeripheralApps/src/common/EmuPCrateConfigTStore.cc
PeripheralApps/src/common/EmuPeripheralCrateBase.cc
PeripheralApps/src/common/EmuPeripheralCrateBroadcast.cc
PeripheralApps/src/common/EmuPeripheralCrateCommand.cc
PeripheralApps/src/common/EmuPeripheralCrateConfig_CCBMPC.cc
PeripheralApps/src/common/EmuPeripheralCrateConfig_DDU.cc
PeripheralApps/src/common/EmuPeripheralCrateConfig_DMB.cc
PeripheralApps/src/common/EmuPeripheralCrateConfig_VCC.cc
PeripheralApps/src/common/EmuPeripheralCrateManager.cc
PeripheralApps/src/common/EmuPeripheralCrateMonitor.cc
PeripheralApps/src/common/EmuPeripheralCrateService.cc
PeripheralApps/src/common/EmuPeripheralCrateTimer.cc
PeripheralApps/src/common/EmuTStore.cc
PeripheralApps/src/common/XMLParser.cc
PeripheralApps_shit/
PeripheralCore/cc
PeripheralCore/include/emu/pc/ALCTController.h
PeripheralCore/include/emu/pc/BuckeyeChip.h
PeripheralCore/include/emu/pc/CCB.h
PeripheralCore/include/emu/pc/CFEB.h
PeripheralCore/include/emu/pc/Chamber.h
PeripheralCore/include/emu/pc/Crate.h
PeripheralCore/include/emu/pc/DAQMB.h
PeripheralCore/include/emu/pc/DCFEB.h
PeripheralCore/include/emu/pc/DDU.h
PeripheralCore/include/emu/pc/EMU_CC_constants.h
PeripheralCore/include/emu/pc/EMU_JTAG_constants.h
PeripheralCore/include/emu/pc/EMUjtag.h
PeripheralCore/include/emu/pc/EPROMBadBit_SVFFileFix.h
PeripheralCore/include/emu/pc/EmuEndcap.h
PeripheralCore/include/emu/pc/EmuLogger.h
PeripheralCore/include/emu/pc/GenDATA.h
PeripheralCore/include/emu/pc/JTAG_constants.h
PeripheralCore/include/emu/pc/MPC.h
PeripheralCore/include/emu/pc/ODAQMB.h
PeripheralCore/include/emu/pc/PROBLEM.h
PeripheralCore/include/emu/pc/RAT.h
PeripheralCore/include/emu/pc/TMBTester.h
PeripheralCore/include/emu/pc/VMECC.h
PeripheralCore/include/emu/pc/VMEController.h
PeripheralCore/include/emu/pc/VMEModule.h
PeripheralCore/include/emu/pc/geom.h
PeripheralCore/include/emu/pc/vme_cmd.h
PeripheralCore/src/common/ALCTController.cc
PeripheralCore/src/common/CCB.cc
PeripheralCore/src/common/CFEB.cc
PeripheralCore/src/common/Chamber.cc
PeripheralCore/src/common/CoreVersion.cc
PeripheralCore/src/common/Crate.cc
PeripheralCore/src/common/DAQMB.cc
PeripheralCore/src/common/DCFEB.cc
PeripheralCore/src/common/DDU.cc
PeripheralCore/src/common/EMUjtag.cc
PeripheralCore/src/common/EPROMBadBit_SVFFileFix.cc
PeripheralCore/src/common/EmuEndcap.cc
PeripheralCore/src/common/EmuLogger.cc
PeripheralCore/src/common/MPC.cc
PeripheralCore/src/common/ODAQMB.cc
PeripheralCore/src/common/PROBLEM.cc
PeripheralCore/src/common/RAT.cc
PeripheralCore/src/common/TMBTester.cc
PeripheralCore/src/common/VMECC.cc
PeripheralCore/src/common/VMEController.cc
PeripheralCore/src/common/VMEController_jtag.cc
PeripheralCore/src/common/VMEModule.cc
PeripheralCore_shit/
emudcs/

