# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


*.svn
*.swp

CVS/
FEDApps/
FEDCore/
FEDUtils/
OnlineDB/
PCSwitches/
PeripheralApps/.#Makefile
PeripheralApps/CVS/
PeripheralApps/include/CVS/
PeripheralApps/include/emu/CVS/
PeripheralApps/include/emu/pc/CVS/
PeripheralApps/rpm/
PeripheralApps/spec.template
PeripheralApps/src/CVS/
PeripheralApps/src/common/CVS/
PeripheralApps/src/linux/
PeripheralApps/test/
PeripheralApps/xml/
PeripheralCore/CVS/
PeripheralCore/include/CVS/
PeripheralCore/include/emu/CVS/
PeripheralCore/include/emu/pc/#ALCTController.h#
PeripheralCore/include/emu/pc/CVS/
PeripheralCore/rpm/
PeripheralCore/spec.template
PeripheralCore/src/CVS/
PeripheralCore/src/common/CVS/
PeripheralCore/src/linux/
PeripheralXtop/
drivers/
Makefile
PeripheralApps20140311.tar.gz
PeripheralCore20140311.tar.gz
_pid_2st_emu=
emudcs/

